<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rakib khan</title>
    <!----------------css file--------------------------->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/style.css">

    <!-----------javaScript file------------------------------>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/script.js"></script>
    <!------------jQuery file--------->
    <script type="text/javascript" src="vue.js/vue.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <!----------------font awasome file------------>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
      <!------Here start the navbar section----------------------->
           <nav class="navbar navbar-default header-section">
               <div class="container">
                   <!-- Brand and toggle get grouped for better mobile display -->
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <div class="logo">
                           <h3><a class="navbar-brand text-uppercase hover-me" href="#">Coder</a></h3>
                       </div>

                   </div>

                   <!-- Collect the nav links, forms, and other content for toggling -->
                   <div class="collapse navbar-collapse nab-bg-me" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav navbar-right text-uppercase">
                           <li><a href="#">Home</a></li>
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Contact</a></li>
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                   <li><a href="#">Action</a></li>
                                   <li><a href="#">Another action</a></li>
                                   <li><a href="#">Something else here</a></li>
                                   <li role="separator" class="divider"></li>
                                   <li><a href="#">Separated link</a></li>
                               </ul>
                           </li>
                       </ul>
                   </div><!-- /.navbar-collapse -->
               </div><!-- /.container-fluid -->
           </nav>
      <!---------Here End the navbar section----------->
     <!----------Here start the body  section------->
      <!-  --------Here start profile file section_1----->
    <div class="container-fluid bg-sky ">
        <div class="row hero-section">
         <div class="col-md-12 text-center  ">
             <h3 class="margin-top-90 text-white mr-bottom-45">Who am I?</h3>
             <img src="img/rakib.jpg"  class="img-circle img-me  mx-auto d-block" alt="">
            <div class="mr-bottom-45 ">
                <h3 class="text-white mt-50 ">Md Rakib Khan</h3>
                <h4 class="text-white">Web Developer</h4>
            </div>
         </div>
        </div>
    </div>
      <!-  --------Here end profile file section_1----->
      <!-  --------Here start Search file section_2----->
    <div class="container-fluid bg-low-black">
        <div class="row what-am-i-bg">
            <div class="col-md-12 text-center text-white">
                <h3 class="margin-top-90 mr-bottom-45">What am I?</h3>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row text-center">
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, consequatur, debitis. Accusamus assumenda cumque delectus dolor, eaque eligendi fuga, incidunt libero maiores minus perspiciatis repellat repellendus unde? Itaque, minima officiis!</p>
                    <br>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="email" class="form-control" size="50" placeholder="Search Any thing.." required>
                            <div class="input-group-btn">
                                <button class="btn btn-light btn-lg  mr-bottom-45"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      <!-  --------Here end Search file section_2----->
      <!-  --------Here start Images card section_3----->
      <div class="container-fluid">
          <div class="row">
              <div class=" col-md-12 text-center text-dark">
                  <h1 class="margin-top-90  mr-bottom-45">Where to Find me?</h1>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 mr-bottom-45">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores eius eum ex ipsa. Amet aperiam asperiores at dignissimos expedita.</p>
                          <img src="img/sec_3_1.jpg" alt="">
                      </div>
                      <div class="col-md-4 mr-bottom-45">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores eius eum ex ipsa. Amet aperiam asperiores at dignissimos expedita.</p>
                          <img src="img/sec_3_2.jpg" alt="">
                      </div>
                      <div class="col-md-4 mr-bottom-45">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores eius eum ex ipsa. Amet aperiam asperiores at dignissimos expedita.</p>
                          <img src="img/sec_3_3.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-  --------Here end Images card section_3----->
      <!------------Here start skill file section_4 ------>

      <div class="container">
          <div class="row">
              <div id="root" class="mr-bottom-45">
                  <h1>Skills</h1>
                  <hr>
                  <input type="text" v-model="newSkill">
                  <button v-on:click="addNewSkill()">Add</button>
                  <br><br>
                  <ul>
                      <transition-group name="bar">
                          <li v-for="(skill,i) in skills" :key="i">
                              {{skill}}<button @click="removeSkill(i)">  x</button>
                          </li>
                      </transition-group>

                  </ul>

              </div>
          </div>
      </div>
      <!-  --------Here start footer section----->
    <div class="container-fluid bg-low-black">
        <div class="row what-am-i-bg">

                  <div class="container">
                      <div class="row">
                          <div class="col-md-4  text-white">
                              <h1 class="margin-top-90 mr-bottom-45">Name of my Company</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, deserunt dolor eum inventore molestias omnis quae quas quia ratione recusandae.</p>
                          </div>
                          <div class="col-md-4 col-md-offset-2 text-white">
                              <h1 class="margin-top-90 mr-bottom-45">Contact Us</h1>
                              <p></p>
                          </div>
                      </div>
                  </div>
        </div>
    </div>
    <!---------here start vue.js file------------>



      <script type="text/javascript">
          var app =new Vue({
              el:"#root",
              data:{
                  newSkill:"",
                  skills:["Html","css","js"]
              },
              methods:{
                  addNewSkill:function(){
                      this.skills.push(this.newSkill);
                      this.newSkill='';
                  },
                  removeSkill:function (i) {
                      this.skills.splice( i,   1);
                  }
              }
          });
      </script>

    </body>
</html>